{% extends "base.html" %}
{% block content %}

<h1>Book Details</h1>
<div class="books_detailed_list">
    <div class="book_detailed_entry">
        {% for book,bookurl,owner,status in your_books %}
            {% if status == 1 %}
                <div><p> <nameS>Name:{{ book }}</nameS> <ownerS> Owner:{{owner}} </ownerS> <statusS> Status:Not Available</statusS> <a href="/borrowbook">Borrow </a></p></div>
            {% else %}
            <div><p> <nameS>Name:{{ book }}</nameS> <ownerS> Owner:{{owner}} </ownerS> <statusS> Status:Available</statusS> <a href="/borrowthis?name={{book}}&owner={{owner}}">Borrow </a></p></div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
