{% extends "base.html" %}
{% block content %}
    <div class="borrowed_books_class">
      {% if borrowed_books|length > 0 %}
          <p> You have the following books borrowed </p>
      {% endif %}
      {% for book, bookurl in borrowed_books %}
          <div><p>{{ book }} <a href={{ bookurl }}>Book Details</a></p></div>
      {% endfor %}

      {% if pending_books|length > 0 %}
          <p>You have the following books to be approved:</p>
      {% endif %}
      {% for book, bookurl in pending_books %}
          <div><p>{{ book }} <a href={{ bookurl }}>Book Details</a></p></div>
      {% endfor %}

      {% if approve_books|length > 0 %}
          <p>You have the following books to approve:</p>
      {% endif %}
     <form action="myapprovebooks" method="post" name="approvebooks">
      {% for book, bookurl, borrower in approve_books %}
      <div><p>{{ book }} borrower: {{borrower}} <a href={{ bookurl }}>Book Details</a> <input type="submit" value="approve" name={{"approve"~book|replace(" ", ";")}}> <input type="submit" name={{"cancel"~book|replace(" ", ";")}} value="cancel"></p></div>
      {% endfor %}
      {% if approve_books|length > 0 %}
          <p> <input type = "submit" name="approve all" value = "approve all"> <input type = "submit" name="cancel all" value="cancel all"> </p>
      {% endif %}
     </form>

    </div>
    
    <h3> What would you like to do?</h3>
    <script>
    function checkData() {
        var x = document.forms["post"]["book"].value;
        if (x == null || x == "") {
            alert("Name must be mentioned");
            return false;
        } else {
            x = x + " added data";
            alert (x);
            return true;
        }
    }
    </script>

     <form action="what_work" method="post" name="work_items">
         <table>
              <td></td>
              <td><input type="submit" name="donate_books" value="Donate Books"></td>
              <td></td>
              <td><input type="submit" name="exchange_books" value="Exchange Books"></td>
              <td></td>
              <td><input type="submit" name="lend_books" value="Lend Books" id="xxx"></td>
         </table>
     </form>

    
{% endblock %}
