{% extends "base.html" %}
{% block content %}

<script>
function validateForm2() {
    var x = document.forms["name_search_form"]["bookname"].value;
    if (x == null || x == "") {
         alert("Name must be filled out"+5);
        //return false;
    }
}
</script>

<h1>So you want to lend books, eh?</h1>
<p> Enter the list of books you want to lend</p>
<div class="lend_books">
    <div class="lend_book_entry">
        <form action="" method="post" name="name_lend_form" id="lend_books_form">
            Book Name: <input type="text" value="" name="bookname0"><br>
           <div class="lend_books_button_class">
               <input type="button" value="More Books to Lend?" name="more_books" id="more_lend_books">
          </div>
          <input type="submit" value="All Done" id="submit_lend_books">
        </form>
    </div>
</div>

<div class="search books">
    <p> <b> Search the name of the book you want to borrow</b></p>
    <form action="borrow" method="post" name="name_search_form" id="search_books_form" onsubmit="return validateForm()">
        Search for book: <input type="text" value="" name="bookname" id="search_book_entry"><br>
        <div class="get_all_borrow_books">
            <input type="submit" value="Show me all books that I can borrow" name="borrow_all" id="all_borrow_books">
        </div>
    </form>
</div>

{% endblock %}
