<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
function set_openid(openid, pr)
{
    u = openid.search('<username>')
    if (u != -1) {
        // openid requires username
        user = prompt('Enter your ' + pr + ' username:')
        openid = openid.substr(0, u) + user
    }
    form = document.forms['login'];
    form.elements['openid'].value = openid
}
</script>


<script type="text/javascript">
  var auth2 = auth2 || {};

  (function() {
    var po = document.createElement('script');
    po.type = 'text/javascript'; po.async = true;
    po.src = 'https://plus.google.com/js/client:plusone.js?onload=startApp';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(po, s);
  })();
</script>
<!-- JavaScript specific to this application that is not related to API
     calls -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" ></script>

  <div id="gConnect" >
    <img id="customBtn" src="/signin_button.png" onClick="signInClick()"
        alt="Sign in with Google+" />
  </div>

<script type="text/javascript">
 /***
  * Perform jQuery initialization and check to ensure that you updated your
  * client ID.
  */
$(document).ready(function() {
  /* $('#disconnect').click(helper.disconnectServer); */
    alert("in document ready");
  if ($('[data-clientid="YOUR_CLIENT_ID"]').length > 0) {
    alert('This sample requires your OAuth credentials (client ID) ' +
        'from the Google APIs console:\n' +
        '    https://code.google.com/apis/console/#:access\n\n' +
        'Find and replace YOUR_CLIENT_ID with your client ID and ' +
        'YOUR_CLIENT_SECRET with your client secret in the project sources.'
    );
  }
});

/**
 * Called after the Google client library has loaded.
 */
function startApp() {
    alert("google auth api loaded, running it");
  gapi.load('auth2', function(){

    // Retrieve the singleton for the GoogleAuth library and setup the client.
    gapi.auth2.init({
        client_id: '{{ CLIENT_ID }}',
        cookiepolicy: 'single_host_origin',
        fetch_basic_profile: false,
        scope: 'https://www.googleapis.com/auth/plus.login'
      }).then(function (){
            console.log('init');
             alert("gapi init worked");
            auth2 = gapi.auth2.getAuthInstance();
            auth2.then(function() {
                var isAuthedCallback = function () {
                  onSignInCallback(auth2.currentUser.get().getAuthResponse())
                }
                /* helper.people(isAuthedCallback); */
                alert("success callback for auth2.init")
              });
          });
  });
}

/**
 * Either signs the user in or authorizes the back-end.
 */
function signInClick() {
  alert ("signInClicked");
    /*
  var signIn = function(result) {
      auth2.signIn().then(
        function(googleUser) {
          onSignInCallback(googleUser.getAuthResponse());
        }, function(error) {
          alert(JSON.stringify(error, undefined, 2));
        });
    };
    */

  auth2.grantOfflineAccess().then(
        function(result){
          /* helper.connectServer(result.code); */
            alert("AAAA");
            alert ("grantOfflineAccess OK:" + result.code);
  });

}

/**
 * Calls the helper method that handles the authentication flow.
 *
 * @param {Object} authResult An Object which contains the access token and
 *   other authentication information.
 */
function onSignInCallback(authResult) {
  /* helper.onSignInCallback(authResult); */
    alert("in onSignInCallback");
}
</script>

<h1>Sign In</h1>
<form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <p>
        Please enter your OpenID, or select one of the providers below:<br>
        {{ form.openid(size=80) }}
        {% for error in form.openid.errors %}
          <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
        |{% for pr in providers %}
          <a href="javascript:set_openid('{{ pr.url }}', '{{ pr.name }}');">{{ pr.name }}</a> |
        {% endfor %}
    </p>
    <p>{{ form.remember_me }} Remember Me</p>
    <p><input type="submit" value="Sign In"></p>
</form>
{% endblock %}